* { 
    font-family:tahoma;
    font-size:12px;
    padding:0px;
    margin:0px;
}

body {
    background-image: url('../static/image/perfusion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

p {
    line-height: 18px;
}

#content { 
    padding:5px; 
    background:#ddd; 
    border-radius:5px;
    overflow-y: scroll; 
    border:1px solid #CCC;
    margin: 5%; 
    height: 400px;
    opacity: 0.8;
}

#status { 
    width: 90px;
    display: block;
    float: right;
    margin-right: 5%;
 }